body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

.main-card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(26, 155, 230);
    color: white;
    font-size: 18px;
    max-width: 80%;
}

img {
    max-width: 30%;
    height: 80%;
    display: block;
    margin: 20px;
    border-radius: 50%;
}

.icons {
    font-size: 30px;
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    padding: 6px 6px 1px 6px;
}

#flaticon {
    font-size: 30px;
    padding: 5px;   
}

a {
    text-decoration: none;
    color: white;
}

.curriculo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 40px;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
    padding: 5px;
    transition: 0.2s ease;
}

.curriculo:hover {
    background-color: white;
    color:rgb(26, 155, 230);
}

.header {
    background-color: rgb(26, 155, 230);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.header a {
    margin: 0 10px;
    transition: 0.2s ease;
    padding: 8px;
    border-radius: 8px; 
}

.header a:hover {
    background-color: white;
    color: rgb(26, 155, 230);
}